
body {
	background-color: #eaeaea;
}

a {
	color: #5A70FF;
}
a:hover {
	color: #2B357A;
}
a:visited {
	text-decoration: none;
}
a img {
	border: none;
}

table.response, #container, #progressbar, #redirect_message_box, #footer {
    margin-left: auto;
    margin-right: auto;
}

table.response {
	width: 100%;
}
table.response td.response { border-right: 1px solid gray; }
table.response td.question { font-weight: bold; }
table.result {
	width: 400px;
	margin: 0;
}
.result_line { background-color: #FFDDCC; }
td.result_name {
	width: 200px;
}
td.response {
	width: 400px;
	font-weight: bold;
}
table thead tr th {
	border: 1px gray solid;
}
.id { background-color:#FFD6C2; text-align:center; padding: 0.2em;}
table.result tr {
	border: 1px solid gray;
	border-bottom:none;
	padding:1;
}
table tr td {
	vertical-align: top;
}

#container, #footer {
	background-color: white;
}

#container {
	width: 800px;
	padding: 1em;
	border: 1px gray solid;
}

#redirect_message_box {
	width: 400px;
	background-color: #FFCBCB;
	border: 1px solid #800000;
	padding: 1em;
	margin: 1em;
	cursor: pointer;
}
#footer {
	color: #ADB8FF;
	margin-top: 20px;
	width: 60%;
	
	border: 1px solid #cecea5;
	text-align: center;
}

#progressbar {
    width: 250px;
    height: 24px;
    border: 1px gray solid;
    padding: 1px;
    border: 1px solid #c6c6c6;
}
#progressbar #done {
    height: 22px;
    background: blue url(/~xrogaan/quizz-zombie/public/images/animation.gif) repeat-x left;
    border: 1px solid #748a9e;
}